GROQ_API_KEY=
APIFY_API_TOKEN=
BREVO_API_KEY=
SENDER_EMAIL_MENA=mahboubgrowth@gmail.com
SENDER_EMAIL_GLOBAL=m0o.mahboob@gmail.com
GREEN_API_INSTANCE_ID=
GREEN_API_TOKEN=
YOUR_WHATSAPP_NUMBER=639934916315
MONGODB_URI=
UPSTASH_REDIS_URL=
EMAIL_WARMUP_START_DATE=
MAX_EMAILS_PER_HOUR=10
EMAIL_GAP_MIN_SECONDS=300
EMAIL_GAP_MAX_SECONDS=900
BOUNCE_RATE_LIMIT=5
SPAM_COMPLAINT_LIMIT=2
OPEN_RATE_MIN=10
